.no-movies {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.heroImg {
    width: 50%;
    object-fit: cover;   
}
.search-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    padding-bottom: 70px;
}
@media only Screen and (max-width: 1024px) {
    .no-movies {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 60px;
    }
    .heroImg {
        width: 90%;
        object-fit: cover;
       
    }
}