.search {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    background-color: white;
    border-radius: 6px;
    width: 40%;
    align-items: center;
    margin-top: 10px;
    box-shadow: rgb(0, 0, 0) 0px 0px 10px 0px;
}


.search-input{
    color: black;
    font-size: 18px;
    font-weight: bold;
    border: none;
    outline: none;
    margin-left: 15px;
    background-color: white;
    width: 40%;
}

@media only Screen and (max-width: 1024px) {
    .search {
        width: 80%;
        padding: 8px 8px;
    }
    .search-input {
        width: 80%;
        font-size: 16px;
    }
}